#divCities {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: red;
    color: aquamarine;
}

.styleCards {
     /* width: 50%;  */
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 20px;

}
