#logoHenry {
  margin-right: 20px;
}

.divNavBar {

  display: flex;
  background-color: azure;

} 

 .searchBar {
  display: flex;
  align-items: flex-end;
  
}

.h1Style {
  /* display: flex; 
  align-items: flex-start; */
  font-family: cursive;
  color: white;
}

