
#div {
    background-color: gainsboro;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 20px;
    margin-bottom: 10px;

} 


#divMin, #divMax  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: cadetblue;
}


.div {
    background-color: gainsboro;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 20px;
    padding-top: 30px;
}

.boton {
    border-radius: 6px;
    background-color: salmon;
    font-size: 12px;
}

.cityName {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imgStyle {
    border-radius: 15px;
    background-color: bisque;
}


